header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

header div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    height: 70px;
    padding: 0 35px;
}

.Logo {
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.Logo span{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: dodgerblue;
    font-weight: bold;
}

.favoritos {
    cursor: pointer;
    background-color: #fff;
    text-decoration: none;
    padding: 5px 14px;
    border-radius: 4px;
    color: #000;
    transition: all .5s;
}

.favoritos:hover {
    font-weight: 500;
    background-color: dodgerblue;
}