.filme-info {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-top: 18px;
    margin: 0 auto;
    padding: 0 8px;
}

.filme-info h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 14px 0;
}   

.filme-info img {
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    border-radius: 8px;
    object-fit: cover;
}

.filme-info h3 {
    font-size: 18px;
    margin-top: 14px;
}

.filme-info span {
    font-size: 15px;
    font-weight: 400;
    margin: 8px 0;
    color: #333;
}

.area-buttons button {
    margin: 14px 12px 0 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.btn-save {
    background-color: #047700;
    color: #fff;
}
.btn-save:hover {
    background-color: #199715;
    color: #fff;
}

.btn-trailer {
    background-color: rgb(139, 2, 2);
    color: #fff;
}
.btn-trailer:hover {
    filter: brightness(1.5);
}

.area-buttons a {
    text-decoration: none;
}